* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.data-container {
  margin: 16px;
  padding: 4px;
  width: 90%;
}

.data-container input {
  width: 250px;
  padding: 6px;
}

.name-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.email-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.cpf-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.address-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.city-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.state-container {
  margin-bottom: 8px;
}

.type-container {
  width: 300px;
  display: flex;
  align-items: center;
}

.type-container input {
  width: 30px;
  margin-left: 24px;
}

.last-job {
  margin: 16px;
  padding: 4px;
  width: 90%;
}

#abstract-text {
  resize: none;
}