h1 {
    font-family: Georgia;
    text-decoration: underline;
}

p {
    font-weight: 600;
    font-size: 3em;
    text-decoration: overline;
}

body {
    font-size: 16px;
    text-align: center;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}

li {
    line-height: 32px;
}